/.vs
/DotNetZipTest/obj
/DotNetZipTest/bin
/SharpZipLibTest/obj
/SharpZipLibTest/bin
/SharpZipLibTest2/a.zip
/SharpZipLibTest2/bin
/SharpZipLibTest2/obj
/ZipArchiveTest/obj
/ZipArchiveTest/bin
/runSubst/bin
/runSubst/obj
/packages
/ZipArchiveTest/packages.config
/testData/7zipTest.zip
/testData/test.zip
/あ_100M.bin
/い_1G.bin
/う_5G.bin
/ZipArchiveTestCore/bin
/ZipArchiveTestCore/obj
